<div class="container">
  <div class="row">
    <div class="col-md-3">
      <ul class="sidebar-list">
        <li class="sidebar-item"><%= link_to "Mes réservations", your_trips_path, class: "sidebar-link active" %></li>
      </ul>
    </div>
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-heading">Mes réservations</div>
        <div class="panel-body">
          <% @restaurants.each do |restaurant| %>
                <% restaurant.reservations.order("id DESC").each do |reservation| %>
                    <div class="row">
                      <div class="col-md-4">
                        Du <%= reservation.start_date.strftime('%d.%m.%y') %>, à <%= reservation.time %> pour <%= reservation.people %> personnes
                      </div>
                      <div class="col-md-6">
                        <%= link_to restaurant_path(reservation.restaurant) do %>
                            <%= image_tag reservation.restaurant.photos[0].image.url(:thumb) if reservation.restaurant.photos.length > 0 %>
                        <% end %>
                      </div>
                      <div class="col-md-2">
                        <%= link_to restorer_path(reservation.restorer) do %>
                            <%= reservation.restorer.fullname %>
                            <%= image_tag avatar_url(reservation.restorer), class:"img-circle avatar-medium" %>
                            <% end %>
                      </div>
                    </div>
                    <hr>
                <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>