<div id="wrapper">
  <div id="sidebar">
    <div id="widget">

    </div>
  </div>
  <div id="article">
    <div class="row">
      <div class="col-md-12">
        <%= search_form_for @q do |f| %>
            <div class="row">
              <div class="col-md-6">
                <%= f.search_field :listing_name, placeholder: "Ville ?", class:"form-control" %>
              </div>
              <div class="col-md-6">
                <%= f.select :restaurant_type, [["Français","Français"],["Asiatique","Asiatique"],["Libanais","Libanais"],["Italien","Italien"],["Japonais","Japonais"],["Chinois","Chinois"],["Russe","Russe"],["Marocain","Marocain"],["Oriental","Oriental"],["Mexicain","Mexicain"],["Thaïlandais","Thaïlandais"],["Portugais","Portugais"],["Indien","Indien"],
                                                                        ["Turc","Turc"]], prompt: "A sélectionner...", class:"form-control" %>
              </div>
            </div>

            <div class="row">
              <%= f.submit "Rechercher", class:"btn btn-primary" %>
            </div>
        <% end %>

        <hr>


        <div class="row">

              <% @people.each do |p| %>
                  <div class="col-md-4">
                    <div class="panel panel-default">
                      <div class="panel-heading preview">
                        <%= image_tag p.photos[0].image.url(:medium) if p.photos.length > 0 %>
                      </div>
                      <div class="panel-body">
                        <%= link_to p.listing_name, restaurant_path(p) %>
                      </div>
                    </div>
                  </div>
              <% end %>

        </div>

      </div>
    </div>
  </div>
</div>