<!-- Content
================================================== -->

<!-- Map Container -->
<div class="contact-map margin-bottom-60">

  <!-- Google Maps -->
  <div id="singleListingMap-container">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2621.908045287974!2d2.3072868156764708!3d48.91714417929327!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66f15fb7d5ca1%3A0x70a54d441b5f5862!2s4+Avenue+Laurent+C%C3%A9ly%2C+92600+Asni%C3%A8res-sur-Seine!5e0!3m2!1sfr!2sfr!4v1545753368629" width="600" height="450" frameborder="0" style="border:0" allowfullscreen id="singleListingMap"></iframe>
  </div>
  <!-- Google Maps / End -->

  <!-- Office -->
  <div class="address-box-container">
    <div class="address-container" data-background-image="images/our-office.jpg">
      <div class="office-address">
        <h3>Nos bureaux</h3>
        <ul>
          <li>4 Avenue Laurent Cély</li>
          <li>Asnières-sur-Seine 92230</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Office / End -->

</div>
<div class="clearfix"></div>
<!-- Map Container / End -->

<div class="fonctionnement">
<!-- Container / Start -->
<div class="container">

  <div class="row">

    <!-- Contact Details -->
    <div class="col-md-4">

      <h4 class="headline margin-bottom-30">Find Us There</h4>

      <!-- Contact Details -->
      <div class="sidebar-textbox">
        <p>Collaboratively administrate channels whereas virtual. Objectively seize scalable metrics whereas proactive e-services.</p>

        <ul class="contact-details">
          <li><i class="im im-icon-Phone-2"></i> <strong>Phone:</strong> <span>(123) 123-456 </span></li>
          <li><i class="im im-icon-Fax"></i> <strong>Fax:</strong> <span>(123) 123-456 </span></li>
          <li><i class="im im-icon-Globe"></i> <strong>Web:</strong> <span><a href="#">www.example.com</a></span></li>
          <li><i class="im im-icon-Envelope"></i> <strong>E-Mail:</strong> <span><a href="#">office@example.com</a></span></li>
        </ul>
      </div>

    </div>

    <!-- Contact Form -->
    <div class="col-md-8">

      <section id="contact">
        <h4 class="headline margin-bottom-35">Contact Form</h4>

        <div id="contact-message"></div>

        <%= form_for @contact do |f| %>

            <div class="row">
              <div class="col-md-6">
                <div>
                  <%= f.text_field :name, required: true, placeholder:"Votre nom" %>
                  <!--<input name="name" type="text" id="name" placeholder="Votre nom" required="required" />-->
                </div>
              </div>

              <div class="col-md-6">
                <div>
                  <%= f.email_field :email, required: true, placeholder:"Email" %>
                  <!--<input name="email" type="email" id="email" placeholder="Email" pattern="^[A-Za-z0-9](([_\.\-]?[a-zA-Z0-9]+)*)@([A-Za-z0-9]+)(([\.\-]?[a-zA-Z0-9]+)*)\.([A-Za-z]{2,})$" required="required" />-->
                </div>
              </div>
            </div>

            <div>
              <%= f.text_field :sujet, required: true, placeholder:"Sujet" %>
              <!--<input name="subject" type="text" id="subject" placeholder="Sujet" required="required" />-->
            </div>

            <div>
              <%= f.text_area :message, required: true, placeholder:"Message", size: "40*3" %>
              <!--<textarea name="comments" cols="40" rows="3" id="comments" placeholder="Message" spellcheck="true" required="required"></textarea>-->
            </div>

            <%= f.submit 'Envoyer', class:'submit button' %>
            <!--<input type="submit" class="submit button" id="submit" value="Envoyer" />-->

        <% end %>
      </section>
    </div>
    <!-- Contact Form / End -->

  </div>

</div>
<!-- Container / End -->
</div>