<div class="panel panel-default">
  <div class="panel-body">

    <!-- photo principale de l'annonce -->
    <div class="row">
      <div class="col-md-12">
        <%= image_tag @photos[0].image.url(), class:"img-responsive" if @photos.length > 0 %>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-3 text-center">
            <%= image_tag avatar_url(@restaurant.restorer), class:"img-circle avatar-large" %>
            <br><br>
            <%= @restaurant.restorer.fullname %>
          </div>
          <div class="col-md-9">
            <h4><%= @restaurant.listing_name %></h4>
            <p><%= @restaurant.address %></p>
            <%= @restaurant.restaurant_type %>
          </div>
        </div>
      </div>
    </div>


    <!-- Description -->
    <div class="row">
      <div class="col-md-12">
        <h2>A propos des attentes du restaurant</h2>
        <p><%= @restaurant.summary %></p>
      </div>
    </div>


      <div class="row"
        <div class="col-md-12">
          <!-- Formulaire de réservation -->
          <%= render 'reservations/form' %>
        </div>
      </div>



  <% if restorer_signed_in? && current_restorer.influencer? == false %>
    <div class="row">
      <div class="col-md-12">
        <h2>Ajout de mon menu</h2>
        <%= form_for([@restaurant, @restaurant.menu.new ]) do |f| %>
          <label>Catégorie plat</label>
            <%= f.select :category, [["Entrée","Entrée"],["Plat","Plat"],["Déssert","Déssert"]], id: "category", prompt: "A sélectionner...", class:"form-control" %>

            <label>Nom de votre plat</label>
            <%= f.text_field :title, placeholder:"Nom de votre plat" %>

            <label>Description du plat</label>
            <%= f.text_field :content, placeholder:"Description du plat" %>

            <label>Prix du plat</label>
            <%= f.text_field :price_menu, placeholder:"Prix du plat" %>

            <%= f.hidden_field :restaurant_id, value: @restaurant.id %>

            <%= f.submit %>

        <% end %>
      </div>
    </div>
      <% end %>

    <div class="row">
      <div class="col-md-12 text-center">
        <h4>Entrée</h4>
        <% @menus.each do |menu| %>
            <% if menu.category == "Entrée" %>
                <%= menu.title %>
                <%= menu.price_menu %>€<br>
                <%= menu.content %><br>
            <% end %>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <h4>Plat</h4>
        <% @menus.each do |menu| %>
            <% if menu.category == "Plat" %>
                <%= menu.title %>
                <%= menu.price_menu %>€<br>
                <%= menu.content %><br>
            <% end %>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <h4>Déssert</h4>
        <% @menus.each do |menu| %>
            <% if menu.category == "Déssert" %>
                <%= menu.title %>
                <%= menu.price_menu %>€<br>
                <%= menu.content %><br>
            <% end %>
        <% end %>
      </div>
    </div>

    <br><br>

    <!-- carrousel -->
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <% if @photos %>
              <% @photos.each do |photo| %>
                  <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="<%= photo.id %>" class="active"></li>
                  </ol>
              <% end %>
          <% end %>

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <% if @photos %>
                <% @photos.each do |photo| %>
                    <div class="item <%= 'active' if photo.id == @photos[0].id %>">
                      <%= image_tag photo.image.url() %>
                    </div>
                <% end %>
            <% end %>
          </div>

          <!-- Left and right controls -->
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Précédent</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Suivant</span>
          </a>
        </div>
      </div>
    </div>

    <br>

    <!-- google maps -->
    <div class="row">
      <div class="col-md-12">
        <div id="map"></div>

        <style>
          /* Set the size of the div element that contains the map */
          #map {
            height: 400px;  /* The height is 400 pixels */
            width: 100%;  /* The width is the width of the web page */
          }
        </style>

        <script>
              function initMap() {
        // The location of Uluru
        var uluru = {lat: <%= @restaurant.latitude %>, lng: <%= @restaurant.longitude %>};
        // The map, centered at Uluru
        var map = new google.maps.Map(
            document.getElementById('map'), {zoom: 15, center: uluru});
        // The marker, positioned at Uluru
        var marker = new google.maps.Marker({position: uluru, map: map});
      }
          </script>
          <script async defer
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAhUhbx7WCVnx7MMPbfS_uwbqYD-8iFplI&callback=initMap">
          </script>
      </div>
    </div>

  </div>
</div>