<% if restorer_signed_in? %>
    <% if current_restorer.id != @restaurant.restorer_id %>

<div class="container">
<div class="panel panel-default">
  <div class="panel-body">

      <div class="row">
        <div class="col-md-12">
          <!-- Formulaire de réservation -->
          <%= render 'reservations/form' %>
        </div>
      </div>


          <p>pas possible</p>
          <% else %>
        <div class="row">
          <div class="col-md-12">
            <h2>Ajout de mon menu</h2>
            <%= form_for([@restaurant, @restaurant.menus.new ]) do |f| %>
              <label>Catégorie plat</label>
                <%= f.select :category, [["Entrée","Entrée"],["Plat","Plat"],["Déssert","Déssert"]], id: "category", prompt: "A sélectionner...", class:"form-control" %>

                <label>Nom de votre plat</label>
                <%= f.text_field :title, placeholder:"Nom de votre plat" %>

                <label>Description du plat</label>
                <%= f.text_field :content, placeholder:"Description du plat" %>

                <label>Prix du plat</label>
                <%= f.text_field :price_menu, placeholder:"Prix du plat" %>

                <%= f.hidden_field :restaurant_id, value: @restaurant.id %>

                <%= f.submit %>

            <% end %>
          </div>
        </div>



          <div class="row">
            <div class="col-md-12 text-center">
              <h4>Entrée</h4>
              <% @menus.each do |menu| %>
                  <% if menu.category == "Entrée" %>
                      <%= menu.title %>
                      <%= menu.price_menu %>€<%= link_to "Supprimer", [@restaurant, menu], method: :delete, data: {confirm: "êtes-vous sûr ?"}, class:"btn btn-warning" %><br>
                      <%= menu.content %><br>
                  <% end %>
              <% end %>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 text-center">
              <h4>Plat</h4>
              <% @menus.each do |menu| %>
                  <% if menu.category == "Plat" %>
                      <%= menu.title %>
                      <%= menu.price_menu %>€<%= link_to "Supprimer", [@restaurant, menu], method: :delete, data: {confirm: "êtes-vous sûr ?"}, class:"btn btn-warning" %><br>
                      <%= menu.content %><br>
                  <% end %>
              <% end %>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 text-center">
              <h4>Déssert</h4>
              <% @menus.each do |menu| %>
                  <% if menu.category == "Déssert" %>
                      <%= menu.title %>
                      <%= menu.price_menu %>€<%= link_to "Supprimer", [@restaurant, menu], method: :delete, data: {confirm: "êtes-vous sûr ?"}, class:"btn btn-warning" %><br>
                      <%= menu.content %><br>
                  <% end %>
              <% end %>
            </div>
          </div>
          <% end %>

  </div>
</div>
</div>
<% else %>
<% end %>
<!-- Gradient-->
<div class="single-listing-page-titlebar"></div>


<!-- Content
================================================== -->
<div class="container">
  <div class="row sticky-wrapper">
    <div class="col-lg-8 col-md-8 padding-right-30">

      <!-- Titlebar -->
      <div id="titlebar" class="listing-titlebar">
        <div class="listing-titlebar-title">
          <h2><%= @restaurant.listing_name %> <span class="listing-tag"><%= @restaurant.restaurant_type %></span></h2>
          <span>
						<a href="#listing-location" class="listing-address">
							<i class="fa fa-map-marker"></i>
              <%= @restaurant.address %>
						</a>
					</span>
        </div>
      </div>

      <!-- Listing Nav -->
      <div id="listing-nav" class="listing-nav-container">
        <ul class="listing-nav">
          <li><a href="#listing-overview" class="active">Description</a></li>
          <li><a href="#listing-pricing-list">Menu</a></li>
          <li><a href="#listing-location">Localisation</a></li>
          <li><a href="#listing-reviews">Reviews</a></li>
          <li><a href="#add-review">Add Review</a></li>
        </ul>
      </div>

      <!-- Overview -->
      <div id="listing-overview" class="listing-section">

        <!-- Description -->

        <p><%= @restaurant.summary %></p>

        <!-- Amenities -->
        <h3 class="listing-desc-headline">Amenities</h3>
        <ul class="listing-features checkboxes margin-top-0">
          <li>Elevator in building</li>
          <li>Friendly workspace</li>
          <li>Instant Book</li>
          <li>Wireless Internet</li>
          <li>Free parking on premises</li>
          <li>Free parking on street</li>
        </ul>
      </div>


      <!-- carrousel -->
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <% if @photos %>
                <% @photos.each do |photo| %>
                    <ol class="carousel-indicators">
                      <li data-target="#myCarousel" data-slide-to="<%= photo.id %>" class="active"></li>
                    </ol>
                <% end %>
            <% end %>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <% if @photos %>
                  <% @photos.each do |photo| %>
                      <div class="item <%= 'active' if photo.id == @photos[0].id %>">
                        <%= image_tag photo.image.url() %>
                      </div>
                  <% end %>
              <% end %>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
              <span class="sr-only">Précédent</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <span class="sr-only">Suivant</span>
            </a>
          </div>
        </div>
      </div>

      <!-- Food Menu -->
      <div id="listing-pricing-list" class="listing-section">
        <h3 class="listing-desc-headline margin-top-70 margin-bottom-30">Menu</h3>

        <div class="show-more">
          <div class="pricing-list-container">

            <!-- Food List -->
            <h4>Entrée</h4>
                <% @menus.each do |menu| %>
                    <% if menu.category == "Entrée" %>
                        <ul>
                          <li>
                            <h5><%= menu.title %></h5>
                            <p><%= menu.content %></p>
                            <span><%= menu.price_menu %>€</span>
                          </li>
                        </ul>
                    <% end %>
                <% end %>

            <!-- Food List -->
            <h4>Plat</h4>
            <% @menus.each do |menu| %>
                <% if menu.category == "Plat" %>
                    <ul>
                      <li>
                        <h5><%= menu.title %></h5>
                        <p><%= menu.content %></p>
                        <span><%= menu.price_menu %>€</span>
                      </li>
                    </ul>
                <% end %>
            <% end %>

            <!-- Food List -->
            <h4>Déssert</h4>
            <% @menus.each do |menu| %>
                <% if menu.category == "Déssert" %>
                    <ul>
                      <li>
                        <h5><%= menu.title %></h5>
                        <p><%= menu.content %></p>
                        <span><%= menu.price_menu %>€</span>
                      </li>
                    </ul>
                <% end %>
            <% end %>

            <!-- Food List
            <h4>Drinks</h4>
            <ul>
              <li>
                <h5>Frozen Shake</h5>
                <span>$4</span>
              </li>
              <li>
                <h5>Orange Juice</h5>
                <span>$4</span>
              </li>
              <li>
                <h5>Beer</h5>
                <span>$4</span>
              </li>
              <li>
                <h5>Water</h5>
                <span>Free</span>
              </li>
            </ul>-->

          </div>
        </div>
        <!--<a href="#" class="show-more-button" data-more-title="Show More" data-less-title="Show Less"><i class="fa fa-angle-down"></i></a>-->
      </div>
      <!-- Food Menu / End -->


      <!-- Location -->
      <div id="listing-location" class="listing-section">
        <h3 class="listing-desc-headline margin-top-60 margin-bottom-30">Localisation</h3>

        <div id="singleListingMap-container">
          <!-- google maps -->
          <div class="row">
            <div class="col-md-12">
              <div id="map"></div>

              <style>
                /* Set the size of the div element that contains the map */
                #map {
                  height: 400px;  /* The height is 400 pixels */
                  width: 100%;  /* The width is the width of the web page */
                }
              </style>

              <script>
                  function initMap() {
                      // The location of Uluru
                      var uluru = {lat: <%= @restaurant.latitude %>, lng: <%= @restaurant.longitude %>};
                      // The map, centered at Uluru
                      var map = new google.maps.Map(
                          document.getElementById('map'), {zoom: 15, center: uluru});
                      // The marker, positioned at Uluru
                      var marker = new google.maps.Marker({position: uluru, map: map});
                  }
              </script>
              <script async defer
                      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAhUhbx7WCVnx7MMPbfS_uwbqYD-8iFplI&callback=initMap">
              </script>
            </div>
          </div>
        </div>
      </div>



    </div>




    <!-- Sidebar
    ================================================== -->
    <div class="col-lg-4 col-md-4 margin-top-75 sticky">


      <!-- Verified Badge -->
      <div class="verified-badge with-tip" data-tip-content="Listing has been verified and belongs the business owner or manager.">
        <i class="sl sl-icon-check"></i>- <%= @restaurant.reduction %> % sur l'addition
      </div>

            <% if restorer_signed_in? && current_restorer.influencer? %>
          <!-- Book Now -->
          <div class="boxed-widget booking-widget margin-top-35">
            <h3><i class="fa fa-calendar-check-o "></i> Réserver une table</h3>
            <div class="row with-forms  margin-top-0">
                  <%= form_for([@restaurant, @restaurant.reservations.new]) do |f| %>

              <!-- Date Picker - docs: http://www.vasterad.com/docs/listeo/#!/date_picker -->
              <div class="col-lg-6 col-md-12">
                <%= f.text_field :start_date, class:"form-control" %>
              </div>

              <!-- Time Picker - docs: http://www.vasterad.com/docs/listeo/#!/time_picker -->
              <div class="col-lg-6 col-md-12">
                <%= f.select :time, [["12h","12h"],["12h30","12h30"],["13h","13h"],["13h30","13h30"],["14h","14h"],["14h30","14h30"],["15h","15h"],["15h30","15h30"]], id: "time", prompt: "Heure", class:"form-control" %>
              </div>

              <!-- Panel Dropdown -->
              <div class="col-lg-12">
                <%= f.select :people, [["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"],["10","10"]], id: "people", prompt: "Personne", class:"form-control" %>
              </div>
              <!-- Panel Dropdown / End -->
                      <%= f.hidden_field :restaurant_id, value: @restaurant.id %>
            </div>

        <!-- progress button animation handled via custom.js -->
                  <div class="row">
                    <div class="col-md-12 text-center">
                      <%= f.submit "Demande de réservation", class:"btn btn-primary" %>
                    </div>
                  </div>
          </div>

              <% end %>
          <% end %>

          <script>
              $(function(){
                  $('#reservation_start_date').datepicker({
                      dateFormat: 'dd-mm-yy',
                      monthNames: ['Janvier','février','Mars','Avril','Mai','Juin','Juillet','Aout','Septembre','Octobre','Novembre','Décembre'],
                      dayNamesMin: ['D','L','M','M','J','V','S']
                  });
              });
          </script>
      <!-- Book Now / End -->


      <!-- Opening Hours -->
      <div class="boxed-widget opening-hours margin-top-35">
        <div class="listing-badge now-open">Now Open</div>
        <h3><i class="sl sl-icon-clock"></i> Opening Hours</h3>
        <ul>
          <li>Monday <span>9 AM - 5 PM</span></li>
          <li>Tuesday <span>9 AM - 5 PM</span></li>
          <li>Wednesday <span>9 AM - 5 PM</span></li>
          <li>Thursday <span>9 AM - 5 PM</span></li>
          <li>Friday <span>9 AM - 5 PM</span></li>
          <li>Saturday <span>9 AM - 3 PM</span></li>
          <li>Sunday <span>Closed</span></li>
        </ul>
      </div>
      <!-- Opening Hours / End -->


      <!-- Contact -->
      <div class="boxed-widget margin-top-35">
        <div class="hosted-by-title">
          <h4><span>Restaurant de</span> <%= link_to @restaurant.restorer.fullname, restorer_path(@restaurant.restorer) %></a></h4>
          <%= image_tag avatar_url(@restaurant.restorer), class:"hosted-by-avatar" %>
        </div>
        <ul class="listing-details-sidebar">
          <li><i class="sl sl-icon-phone"></i><%= image_tag ('call.png') %> <%= @restaurant.phone %></li>
          <!-- <li><i class="sl sl-icon-globe"></i> <a href="#">http://example.com</a></li> -->
          <li><i class="fa fa-envelope-o"></i> <a href="#"><%= image_tag ('email.png') %> <%= @restaurant.restorer.email %></a></li>
          <% if(params[:linkweb]).blank? %>
            <li><%= image_tag ('web.png') %> <%= @restaurant.linkweb %></li>
          <% else %>
          <% end %>
        </ul>

        <!--
        <ul class="listing-details-sidebar social-profiles">
          <li><a href="#" class="facebook-profile"><i class="fa fa-facebook-square"></i> Facebook</a></li>
          <li><a href="#" class="twitter-profile"><i class="fa fa-twitter"></i> Twitter</a></li>
          <li><a href="#" class="gplus-profile"><i class="fa fa-google-plus"></i> Google Plus</a></li>
        </ul>-->

        <!-- Reply to review popup -->
        <br>
        <div class="text-center">
          <%= link_to "Envoyer un message", restorer_path(@restaurant.restorer), class:"btn btn-primary" %>
        </div>
      </div>
      <!-- Contact / End-->

    </div>
    <!-- Sidebar / End -->

  </div>
</div>
<br><br><br>
<!-- Parallax -->
<div class="parallax"
     data-color="#36383e"
     data-color-opacity="0.6"
     data-img-width="800"
     data-img-height="505">

  <!-- Infobox -->
  <div class="text-content white-font">
    <div class="container">

      <div class="row">
        <div class="col-lg-6 col-sm-8">
          <h2>Augmenter la notoriété de votre restaurant</h2>
          <p>Enregistrez votre restaurant sur la plateforme afin de le rendre visible auprès de tous les influenceurs et d'augmenter votre notoriété sur les réseaux sociaux.</p>
          <a href="listings-list-with-sidebar.html" class="button margin-top-25">Découvrir</a>
        </div>
      </div>

    </div>
  </div>

  <!-- Infobox / End -->

</div>
<!-- Parallax / End -->