<div class="row">
  <div class="col-md-3">
    <%= image_tag avatar_url(@restorer), class:"avatar-full" %>

    <% if current_restorer != @restorer %>
        <div class="row-space-2">
          <%= link_to "Envoyer un message", conversations_path(sender_id: current_restorer.id, recipient_id: @restorer.id), method: 'post', class:"btn btn-primary wide" %>
        </div>
    <% end %>

    <div class="panel panel-default">
      <div class="panel-heading">Vérification</div>
      <div class="panel-body">
        Email: <%= @restorer.email %>
      </div>
    </div>
  </div>

  <div class="col-md-9">
    <h2><%= @restorer.fullname %></h2>

    <h4>Restaurant(s) (<%= @restaurants.length %>)</h4><br>
    <div class="row">
      <% @restaurants.each do |restaurant| %>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading preview">
            <%= image_tag restaurant.photos[0].image.url(:medium) if restaurant.photos.length > 0 %>
          </div>
          <div class="panel-body">
            <%= link_to restaurant.listing_name, restaurant %>
          </div>
        </div>
      </div>


      <% end %>
    </div>
  </div>
</div>