<!-- Footer
================================================== -->
<div id="footer" class="sticky-footer">
  <!-- Main -->
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-6">
        <!--<img class="footer-logo" src="images/logo.png" alt="">-->
        <%= link_to 'Restinfluence', root_path, {:class=>"navbar-brand"} %>
        <br><br>
        <p>Plateforme de mise en relation de restaurateur et d'influenceur. L'objectif est pour les restaurateurs de pouvoir augmenter la notoriété de leurs restaurants grâce aux influenceurs en leurs proposant des réductions dans leurs restaurants.</p>
      </div>

      <div class="col-md-4 col-sm-6 ">
        <h4>Navigation</h4>
        <ul class="footer-links">
          <li><%= link_to 'Connexion', new_restorer_session_path %></li>
          <li><%= link_to 'Inscription', new_restorer_registration_path %></li>
          <li><%= link_to 'Tarif', tarif_path %></li>
        </ul>

        <ul class="footer-links">
          <li><%= link_to 'FAQ', faq_path %></li>
          <li><a href="#">Blog</a></li>
          <li><%= link_to 'Politique de confidentialité', politique_de_confidentialite_path %></li>
          <li><a href="#">How It Works</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <div class="clearfix"></div>
      </div>

      <div class="col-md-3  col-sm-12">
        <h4>Contact</h4>
        <div class="text-widget">
          <span>4 Avenue Laurent Cély, Asnières-sur-Seine 92230</span> <br>
          Phone: <span>(123) 123-456 </span><br>
          E-Mail:<span> <a href="#">office@example.com</a> </span><br>
        </div>

        <ul class="social-icons margin-top-20">
          <li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
          <li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
          <li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
          <li><a class="vimeo" href="#"><i class="icon-vimeo"></i></a></li>
        </ul>

      </div>

    </div>

    <!-- Copyright -->
    <div class="row">
      <div class="col-md-12">
        <div class="copyrights">© 2019 RestInfluence. All Rights Reserved.</div>
      </div>
    </div>

  </div>

</div>
<!-- Footer / End -->