<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Restinfluence', root_path, {:class=>"navbar-brand"} %>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">


        <li>
          <%= link_to new_restaurant_path do %>
              <i class="fa fa-home fa-lg"></i>Mon/mes restaurant(s)
          <% end %>
        </li>

        <% if (!restorer_signed_in?)  %>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Restaurateur<span class="caret"></span></a>
              <ul class="dropdown-menu">

                <li><%= link_to 'Inscription', new_restorer_registration_path %></li>
                <li><%= link_to 'Connexion', new_restorer_session_path %></li>
              </ul>
            </li>

        <% else %>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= image_tag avatar_url(current_restorer), class:"img-circle avatar-small" %> <%= current_restorer.fullname %> <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to 'Mon/mes restaurant(s)', restaurants_path %></li>
                <li><%= link_to 'Mes réservations', your_reservation_path %></li>
                <li><%= link_to 'Modifier mon profil', edit_restorer_registration_path %></li>

                <li role="separator" class="divider"></li>
                <li><%= link_to 'Deconnexion', destroy_restorer_session_path, method: :delete %></li>
              </ul>
            </li>
        <% end %>




              <% if (!influencer_signed_in?) %>

                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Influenceur<span class="caret"></span></a>
                    <ul class="dropdown-menu">

                      <li><%= link_to 'Inscription', new_influencer_registration_path %></li>
                      <li><%= link_to 'Connexion', new_influencer_session_path %></li>
                    </ul>
                  </li>

              <% else %>


                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= image_tag avatar_url_inf(current_influencer), class:"img-circle avatar-small" %> <%= current_influencer.fullname %> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><%= link_to 'Mes réservations', your_trips_path %></li>
                      <li><%= link_to 'Modifier mon profil', edit_influencer_registration_path %></li>

                      <li role="separator" class="divider"></li>
                      <li><%= link_to 'Deconnexion', destroy_influencer_session_path, method: :delete %></li>
                    </ul>
                  </li>

              <% end %>



      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
