<!DOCTYPE html>
<html>
  <head>
    <title>Restinfluence</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
  <%= render 'layouts/navigation' %>


<br><br><br><br><br>
  <div class="container"><%= yield %></div>

  <%= render 'shared/message' %>
  </body>
</html>
